<footer class="container-fluid navfooter">
    <div class="row" >
      <div class="col-lg-5 col-sm-12 offset-md-1 justify-content-center align-items-center d-flex pt-2">
        <img src="../../../../../assets/Images/Logo.png" class="logo mx-auto" >
      </div>

      <div class="col-7 col-sm-12 col-md offset-md-2">
        <h5 class="fontcolor " style="margin-top: 5%;">¿Tienes Dudas? Contactanos</h5>
        <ul class="list-unstyled text-small">
          <li>
              <img src="../../../../../assets/Images/whatsapp.png" class="contact" alt="whatsapp">
              <a class="text-muted fontcolor"> 8281050726 </a>
          </li>
          <li>
            <img src="../../../../../assets/Images/gmail.png" class="contact" alt="gmail">
              <a class="text-muted fontcolor"> ventas@fletes4003.com </a>
          </li>
          <li>
            <small class="d-block mb-3 text-muted fontcolor"> 2020 &copy; Fletes4003</small>
          </li>
        </ul>
      </div>
    </div>
</footer>