<header class="brand">
  <nav class="navbar navbar-expand-lg navbar-dark bg-light">
    <img src="../../../../../assets/Images/Logo.png" class="logo" alt="logo">
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse navbar-nav ml-auto"  id="navbarNavDropdown">
      <ul class="navbar-nav sm-mx-auto offset-md-6">
        <li class="nav-item active ">
          <button class="btn btn-outline-danger fontcolor btn-sm btn-block" > ¿Quienés somos? </button> 
        </li>
        <li class="nav-item dropdown ">
          <button class="btn btn-sm btn-outline-danger  fontcolor btn-sm btn-block" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false"> Servicios </button> 
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item " href="#"> Parque Vehicular </a>
            <a class="dropdown-item " href="#"> Transporte de Producto Refinado </a>
            <a class="dropdown-item " href="#"> División Asfaltos </a>
            <a class="dropdown-item " href="/src/app/Components/Auth/pages/home/home.component.html/#Rastreo"> Rastreo y Seguridad </a>
            <a class="dropdown-item " href="#"> Sellado electrónico </a>
            <a class="dropdown-item " href="#"> Ventajas Competitivas y <br> Estandares de Calidad </a>
          </div>
        </li>
        <li class="nav-item">
          <button class="btn btn-sm btn-outline-danger fontcolor btn-sm btn-block" > Contactanos </button> 
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 offset-md-1">
        <button type="button" class="btn btn-danger btn-sm btn-block fontcolor"> Iniciar Sesión </button>  
      </form>
    </div>
  </nav>
</header>