<div class="backgroundstyle">
  <div class="container-fluid login fontcolor" style="margin-top: 8%;">
    <div class="col-sm-12 col-md-7 col-lg-3 mx-auto">
        <div class="card card-signin" style="border: none!important; background-color: transparent;">
          <div class="card-body" >
		    <img src="../../../../../assets/Images/Logo.png" class="mx-auto d-block" width="200" height="150" alt="loginlogo">
            <h5 class="card-title text-center"> Iniciar Sesión </h5>

            <form class="form-signin"
                  (ngSubmit)="login()"
                  [formGroup]="loginform">


              <div class="form-label-group">
                <label for="inputEmail">Correo Electronico</label>
                <input type="email" id="inputEmail"
                       class="form-control"
                       placeholder="Correo Electrónico"
                       formControlName="email" required autofocus autocomplete="on">
              </div>

              <div class="form-label-group">
                <label for="inputPassword">Contraseña</label>
                <input type="password"
                       id="inputPassword"
                       class="form-control"
                       placeholder="Contraseña"
                       formControlName="password" required autofocus autocomplete="on">
              </div>

              <div class="d-flex justify-content-center">
                      <a>¿Olvidaste tu contraseña? </a>
                      <a style="color: #acacad;" [routerLink]="['/auth/lost-pass']"> Haz click aqui</a>
              </div>

              <button class="btn btn-lg btn-danger btn-block text-uppercase" type="submit" [disabled]="loginform.invalid">Iniciar Sesión</button>

            </form>

          </div>
        </div>
    </div>
  </div>
</div>