<div class="backgroundstyle">
  
  <div class="container-fluid login fontcolor" style="margin-top: 8%;">
    <div class="col-sm-12 col-md-7 col-lg-3 mx-auto">
        <div class="card card-signin" style="border: none!important; background-color: transparent;">
          <div class="card-body" >
            <img src="../../../../../assets/Images/Logo.png" class="mx-auto d-block" width="200" height="150" alt="loginlogo">
            <h5 class="card-title text-center"> ¿Olvidaste tu Contraseña? </h5>
            <p style="margin-top: 10%;"> Escribe tu Correo Electrónico</p>
            <form class="form-signin">
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Correo Electrónico" name="email" [(ngModel)]="email" required autofocus>
              </div>
              <hr class="my-4">
              <button class="btn btn-lg btn-danger btn-block text-uppercase" type="submit" (click)="recoverpass()"> Enviar Reinicio de Contraseña</button>
            </form>
          </div>
        </div>
    </div>
  </div>

</div>
