.login{

    background: none!important;
    position: absolute;

}

.backgroundstyle{
    background-image: url('./../../../../../assets/Images/background\ 3.jpg');
    height: 100vh;
    max-height: 100%;
}
